{% extends "index.html" %}

{% block events %}

<section class="container">
    <form method="post" action="/event/new" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="title" class="col-4 col-form-label">Title</label>
            <div class="col-8">
                <input id="title" name="title" value="{{ titles }}" placeholder="FastAPI Book Launch" type="text"
                       class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="image" class="col-4 col-form-label">Title</label>
            <div class="col-8">
                <input type="file" id="image" name="image" accept="image/*" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-4 col-form-label">Description</label>
            <div class="col-8">
                <input id="description" name="description" value="{{ description }}"
                       placeholder="We're unveiling the fast paced book every FastAPI user should read." type="text"
                       class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="tags" class="col-4 col-form-label">Tags</label>
            <div class="col-8">
                <input id="tags" name="tags" value="{{ tags }}" placeholder="python, fastapi, unveiling" type="text"
                       class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="location" class="col-4 col-form-label">Location</label>
            <div class="col-8">
                <input id="location" name="location" value="{{ location }}" placeholder="Google Meet" type="text"
                       class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-primary">Add Event</button>
            </div>
        </div>
    </form>

</section>

{% endblock %}